fastapi
groq
email-validator
uvicorn[standard]
python-multipart
sqlalchemy
pymysql
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pdfplumber
Pillow
pytesseract
transformers
peft
torch
torchvision
accelerate